.message-form-container {
    position: absolute;
    width: 78.5%;
    height: auto;
    background-color: white;
    bottom: 0px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
}

.send-message {
    font-family: FontAwesome;
    height: 30px;
    width: 100%;
    border-radius: 3px;
    border: 2px solid lightgray;
    padding-left: 10px;
}

.message-form-container button {
    width: 50%;
    margin-top: 8px;
}

.send-message-error{
    font-family: FontAwesome;
    height: 30px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid red;
    padding-left: 10px;
}